In [1]:
import pickle
import pandas as pd

In [2]:
model_columns = pickle.load(open('model_columns.pkl', 'rb'))
df = pickle.load(open('df.pkl', 'rb'))

In [4]:
full_columns = pickle.load(open('full_columns.pkl', 'rb'))

In [5]:
full_columns

['Kitchen type',
 'Bedrooms',
 'Furnished',
 'Swimming pool',
 'Garden',
 'Terrace',
 'Surface of the plot',
 'log_area',
 'property sub-type_BUNGALOW',
 'property sub-type_CASTLE',
 'property sub-type_CHALET',
 'property sub-type_COUNTRY_COTTAGE',
 'property sub-type_DUPLEX',
 'property sub-type_EXCEPTIONAL_PROPERTY',
 'property sub-type_FARMHOUSE',
 'property sub-type_FLAT_STUDIO',
 'property sub-type_GROUND_FLOOR',
 'property sub-type_KOT',
 'property sub-type_LOFT',
 'property sub-type_MANOR_HOUSE',
 'property sub-type_MANSION',
 'property sub-type_MIXED_USE_BUILDING',
 'property sub-type_PENTHOUSE',
 'property sub-type_SERVICE_FLAT',
 'property sub-type_TOWN_HOUSE',
 'property sub-type_TRIPLEX',
 'property sub-type_VILLA',
 'Post code_1020',
 'Post code_1030',
 'Post code_1040',
 'Post code_1050',
 'Post code_1060',
 'Post code_1070',
 'Post code_1080',
 'Post code_1081',
 'Post code_1082',
 'Post code_1083',
 'Post code_1090',
 'Post code_1120',
 'Post code_1140',
 'Post code_1150',
 'Post code_1160',
 'Post code_1180',
 'Post code_1190',
 'Post code_1200',
 'Post code_1210',
 'Post code_1300',
 'Post code_1340',
 'Post code_1400',
 'Post code_1410',
 'Post code_1420',
 'Post code_1480',
 'Post code_1500',
 'Post code_1600',
 'Post code_1640',
 'Post code_1700',
 'Post code_1730',
 'Post code_1731',
 'Post code_1770',
 'Post code_1780',
 'Post code_1785',
 'Post code_1800',
 'Post code_1850',
 'Post code_1853',
 'Post code_1930',
 'Post code_1933',
 'Post code_1970',
 'Post code_2000',
 'Post code_2018',
 'Post code_2020',
 'Post code_2060',
 'Post code_2070',
 'Post code_2100',
 'Post code_2140',
 'Post code_2170',
 'Post code_2180',
 'Post code_2200',
 'Post code_2250',
 'Post code_2300',
 'Post code_2320',
 'Post code_2400',
 'Post code_2440',
 'Post code_2500',
 'Post code_2550',
 'Post code_2600',
 'Post code_2610',
 'Post code_2630',
 'Post code_2640',
 'Post code_2650',
 'Post code_2660',
 'Post code_2800',
 'Post code_2830',
 'Post code_2850',
 'Post code_2870',
 'Post code_2880',
 'Post code_2900',
 'Post code_2930',
 'Post code_2970',
 'Post code_2980',
 'Post code_3000',
 'Post code_3001',
 'Post code_3070',
 'Post code_3110',
 'Post code_3290',
 'Post code_3300',
 'Post code_3500',
 'Post code_3530',
 'Post code_3550',
 'Post code_3600',
 'Post code_3700',
 'Post code_3740',
 'Post code_3800',
 'Post code_3870',
 'Post code_3920',
 'Post code_3940',
 'Post code_3980',
 'Post code_4000',
 'Post code_4020',
 'Post code_4040',
 'Post code_4100',
 'Post code_4101',
 'Post code_4420',
 'Post code_4430',
 'Post code_4460',
 'Post code_4500',
 'Post code_4800',
 'Post code_4820',
 'Post code_4900',
 'Post code_5000',
 'Post code_5100',
 'Post code_5190',
 'Post code_5500',
 'Post code_6000',
 'Post code_6001',
 'Post code_6030',
 'Post code_6040',
 'Post code_6041',
 'Post code_6060',
 'Post code_6200',
 'Post code_6220',
 'Post code_6700',
 'Post code_7000',
 'Post code_7090',
 'Post code_7100',
 'Post code_7500',
 'Post code_7700',
 'Post code_8000',
 'Post code_8200',
 'Post code_8300',
 'Post code_8301',
 'Post code_8310',
 'Post code_8370',
 'Post code_8380',
 'Post code_8400',
 'Post code_8420',
 'Post code_8430',
 'Post code_8434',
 'Post code_8450',
 'Post code_8500',
 'Post code_8550',
 'Post code_8560',
 'Post code_8570',
 'Post code_8620',
 'Post code_8630',
 'Post code_8660',
 'Post code_8670',
 'Post code_8790',
 'Post code_8792',
 'Post code_8800',
 'Post code_9000',
 'Post code_9040',
 'Post code_9100',
 'Post code_9120',
 'Post code_9140',
 'Post code_9160',
 'Post code_9200',
 'Post code_9230',
 'Post code_9280',
 'Post code_9290',
 'Post code_9300',
 'Post code_9320',
 'Post code_9340',
 'Post code_9400',
 'Post code_9500',
 'Post code_9550',
 'Post code_9600',
 'Post code_9620',
 'Post code_9700',
 'Post code_9800',
 'Post code_9820',
 'Post code_9880',
 'Post code_9900',
 'Post code_9940',
 'Post code_other']

In [6]:
df = df.T

In [7]:
df

,bedroom,kitchen_type,living_area,postcode,property_type,surface_plot,swimming_pool
data,3,0.0,150,1000,HOUSE,200,0

In [8]:
df = pd.get_dummies(df, columns=['property_type'])

In [9]:
df

,bedroom,kitchen_type,living_area,postcode,surface_plot,swimming_pool,property_type_HOUSE
data,3,0.0,150,1000,200,0,1

In [11]:
df.reindex(columns=full_columns, fill_value=0)

,Kitchen type,Bedrooms,Furnished,Swimming pool,Garden,Terrace,Surface of the plot,log_area,property sub-type_BUNGALOW,property sub-type_CASTLE,...,Post code_9550,Post code_9600,Post code_9620,Post code_9700,Post code_9800,Post code_9820,Post code_9880,Post code_9900,Post code_9940,Post code_other
data,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0